
body{margin:0;font-family:Arial;background:#f1f5f9;}
.sidebar{width:220px;background:#0f172a;color:white;height:100vh;position:fixed}
.sidebar a{color:white;display:block;padding:10px;text-decoration:none}
.content{margin-left:220px;padding:20px}
.card{background:white;padding:15px;margin:10px 0;border-radius:10px}
.btn{background:#2563eb;color:white;border:none;padding:8px;margin:5px;cursor:pointer}
input{padding:8px;margin:5px}
